*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    font-family: 'Public Sans', sans-serif;
}

a{
    display: inline-block;
}

.container{
    width: 80%;
    /* border: 1px solid black; */
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;   

}
nav ul li{
    margin: 30px 20px;
}
li a{
    color: hsl(233, 8%, 62%);
}
nav > img{
    display: none;
}

.btn{
    background-image: linear-gradient(120deg,
     hsl(136, 65%, 51%), 
     hsl(192, 70%, 51%));
    padding: 10px 20px;
    border-radius: 30px;
    color: hsl(0, 0%, 100%);
}

@media (max-width: 480px) {


    header{
        background-color: red;
        /* height: 100px; */
        padding: 20px 0px;
        position: relative;        
    }
    nav > a{
        display: none;
    }
    nav ul{
        /* display: block; */
        position: absolute;
        top: 100%;
        left: 10%;
        background-color: rgb(181, 194, 190);
        width: 80vw;
        text-align: center;
        margin-top: 20px;
        border-radius: 10px;



    }
    nav > img{
        display: block;
    }

}

.hero{
    background-color: hsl(0, 0%, 98%);
    /* background-color: aquamarine; */
    background-image: url('images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 215%;
    background-position-y: -255px;
    overflow: hidden;
    /* overflow-y: auto; */
    padding: 0;

}
.hero .container{
    display: flex;
    /* align-items: center; */
    /* height: 150vh; */
    /* background-color: brown; */
}

.hero__left{
    /* width: 50%; */
    /* border: 1px solid black; */
    flex: 1;
    padding-top: 18%;
}

.hero__right{
    flex: 1;
}

.hero__right img{
    /* width:130%; */
    /* height: 1000px; */
    position: relative;
    top: -120px;
    left: 36%;      
    z-index: 1; 
}

.hero__left h1{
    font-size: 3.5rem;
    font-weight: 700px;
}

.hero__left p{
    margin: 20px auto;
}



.services{
    background-color: hsl(220, 16%, 96%);
    transform: translateY(-250px);
    z-index: 0;
    padding: 100px 0;
    margin: auto;
}

.services h2{
    font-size: xx-large;
    font-weight: 400px;
    margin-bottom: 20px;
}
.services .container > p{
    width: 55%;
    margin-bottom: 50px;    
}
.services .cards{
    display: flex;
    gap: 20px;

}

.services .card h3{
    margin: 20px 0;
}

.articles{
    background-color: hsl(0, 0%, 98%);
    margin: auto;
    transform: translateY(-250px);
    padding: 50px 0;
}

.articles h2{
    margin-bottom: 20px;
}

.articles .cards{
    display: flex;   
    gap: 20px; 
}
article img{
    width:100%;
    height: 200px;
}

article p{
    margin: 20px 0;
}

footer{
    background-color: hsl(233, 26%, 24%);
    color: hsl(0, 0%, 98%);
    padding: 50px 0;
    transform: translateY(-250px); 
    /* height: 50vh; */
}

footer .container{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    
}

footer .card li{
    margin: 10px 0;
}

footer .card a{
    margin-bottom: 10px;
}

.attribution{
    transform: translateY(-250px);
}
